.customarea{
    font-family: "Baloo 2";
    font-size: 1.125rem;
    line-height: 1.25rem;
    color:var(--text-heading);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    align-self: stretch;
    border: none;

    .row {
        display: flex;
        gap: 0.75rem;
        align-items: center;

        img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }


     .colors {
        color: #FFF;
        font-size: 0.875rem;
        font-family: "Opens Sans";

        width: 35rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        
            .color-picker{
                display: flex;
                align-items: center;
                gap: 1.25rem;
                flex-wrap: wrap;

                    input[type="radio"] {
                        --webkit-appearance: none;
                        appearance: none;

                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                        cursor: pointer;
                        
                    }
            }
     }

.color-picker input#color-1  { background: var(--brand-light); }
.color-picker input#color-2  { background: var(--navy); }
.color-picker input#color-3  { background: var(--purple); }
.color-picker input#color-4  { background: var(--fuschia); }
.color-picker input#color-5  { background: var(--pink); }
.color-picker input#color-6  { background: var(--danger); }
.color-picker input#color-7  { background: var(--orange); }
.color-picker input#color-8  { background: var(--yellow); }
.color-picker input#color-9  { background-color: var(--lime); }
.color-picker input#color-10 { background-color: var(--green); }
.color-picker input#color-11 { background-color: var(--cyan); }
}